
#plus_1,#plus_2{
    background-color: #0084de;
    border: none;
    cursor: pointer;
}

#number_1,#number_2 {
    text-align: center;
    background: white;
}

#moins_1, #moins_2{
    background-color: #0084de;
    border: none;
    cursor: pointer;
}

.detail-box button i {
    font-size: 24px;
}

